aiohttp @ file:///D:/bld/aiohttp_1713964989140/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1660544713664/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair==4.2.2
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1703885206855/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///C:/b/abs_847uobe7ea/croot/anyio_1706220224037/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1699896622851/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1641909357516/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
billiard @ file:///D:/bld/billiard_1703820246608/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1703899296064/work
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
cffi @ file:///D:/bld/cffi_1696001739918/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///D:/bld/click_1692312014553/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1711356664034/work
click-plugins==1.1.1
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
conda @ file:///D:/bld/conda_1711445951562/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1674244895923/work
contourpy==1.2.1
cryptography @ file:///D:/bld/cryptography-split_1708780412513/work
cycler==0.12.1
dacite==1.8.1
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1693471346238/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1684714143796/work
dulwich @ file:///D:/bld/dulwich_1713938067758/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1714162152786/work
dvc-data @ file:///home/conda/feedstock_root/build_artifacts/dvc-data_1711196619902/work
dvc-http @ file:///home/conda/feedstock_root/build_artifacts/dvc-http_1702477409069/work
dvc-objects @ file:///home/conda/feedstock_root/build_artifacts/dvc-objects_1711196231873/work
dvc-render @ file:///home/conda/feedstock_root/build_artifacts/dvc-render_1712771203578/work
dvc-studio-client @ file:///home/conda/feedstock_root/build_artifacts/dvc-studio-client_1708067688116/work
dvc-task @ file:///home/conda/feedstock_root/build_artifacts/dvc-task_1711373510156/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1712686151958/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock==7.1.1
fonttools==4.51.0
fqdn==1.5.1
frozenlist @ file:///D:/bld/frozenlist_1702645622997/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1680003215408/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1708610096684/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
grandalf @ file:///home/conda/feedstock_root/build_artifacts/grandalf_1632832336053/work
great-expectations==0.18.13
gssapi @ file:///D:/bld/python-gssapi_1697144140502/work
gto @ file:///home/conda/feedstock_root/build_artifacts/gto_1711157984154/work
htmlmin==0.1.12
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1677543700389/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
ImageHash==4.3.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
iniconfig==2.0.0
ipykernel @ file:///C:/b/abs_c2u94kxcy6/croot/ipykernel_1705933907920/work
ipytest==0.14.2
ipython @ file:///C:/b/abs_e5729i179y/croot/ipython_1694181400005/work
ipywidgets==8.1.2
isoduration==20.11.0
iterative-telemetry @ file:///home/conda/feedstock_root/build_artifacts/iterative-telemetry_1679018892732/work
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2 @ file:///C:/b/abs_f7x5a8op2h/croot/jinja2_1706733672594/work
joblib==1.4.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///D:/bld/jsonpointer_1695397475147/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter-events @ file:///C:/b/abs_17ajfqnlz0/croot/jupyter_events_1699282519713/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client @ file:///C:/b/abs_d8fk_kz9zk/croot/jupyter_client_1676330195659/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyter_server @ file:///C:/b/abs_7esjvdakg9/croot/jupyter_server_1699466495151/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_43venm28fu/croot/jupyterlab_1706802651134/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///C:/b/abs_e08i7qn9m8/croot/jupyterlab_server_1699555481806/work
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
kombu @ file:///D:/bld/kombu_1699281854272/work
libmambapy @ file:///D:/bld/mamba-split_1711394434532/work/libmambapy
llvmlite==0.42.0
makefun==1.15.2
mamba @ file:///D:/bld/mamba-split_1711394434532/work/mamba
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661915841596/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
menuinst @ file:///D:/bld/menuinst_1705068463433/work
mistune @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_081kimkskf/croots/recipe/mistune_1661496225923/work
multidict @ file:///D:/bld/multidict_1707040875863/work
multimethod==1.11.2
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert @ file:///C:/b/abs_17p29f_rx4/croot/nbconvert_1699022793097/work
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
notebook @ file:///C:/b/abs_65xjlnf9q4/croot/notebook_1708029957105/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numba==0.59.1
numpy==1.26.4
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
orjson @ file:///D:/bld/orjson_1713445861675/work/target/wheels/orjson-3.10.1-cp39-none-win_amd64.whl#sha256=9ef94f480dc49d446b77285d632d879da3c189cf6d7735de0e385d4d752fb52e
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.2.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathlib2 @ file:///D:/bld/pathlib2_1695464232480/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
patsy==0.5.6
phik==0.12.4
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.3.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1696272223550/work
pluggy==1.4.0
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
psutil @ file:///D:/bld/psutil_1705722541723/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycosat @ file:///D:/bld/pycosat_1696355962156/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1713905669586/work
pydantic_core @ file:///D:/bld/pydantic-core_1713862047178/work
pydot @ file:///D:/bld/pydot_1704460905565/work
pygit2 @ file:///D:/bld/pygit2_1711118890948/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1658067487470/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pytest==8.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
PyWavelets==1.6.0
pywin32==306
pywinpty @ file:///C:/b/abs_73vshmevwq/croot/pywinpty_1677609966356/work/target/wheels/pywinpty-2.0.10-cp39-none-win_amd64.whl
PyYAML @ file:///D:/bld/pyyaml_1695373613960/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
ruamel.yaml==0.17.17
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1707314659941/work
scikit-learn==1.4.2
scipy==1.11.4
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1714030282846/work
seaborn==0.12.2
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1696861993140/work
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1710251434066/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1709842379479/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
sqltrie @ file:///home/conda/feedstock_root/build_artifacts/sqltrie_1703214333757/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels==0.14.2
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
threadpoolctl==3.5.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1709043728182/work
toolz==0.12.1
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
typeguard==4.2.1
typer==0.12.3
typer-slim==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
tzlocal==5.2
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1699264759755/work
visions==0.7.6
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1706967570277/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///C:/ci/websocket-client_1614804375980/work
widgetsnbextension==4.0.10
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wordcloud==1.9.3
yarl @ file:///D:/bld/yarl_1705508472464/work
ydata-profiling==4.7.0
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1678092336663/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.22.0
